*{
    margin:0;
}

#logo{
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1px;
}

.navbar{
    margin-bottom: 0;
    margin-top: 8px;
    margin-left: 20px;
}

#boutonnav{
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;
    margin-top: 8px;
}

#boutonnav:hover{
    font-family: 'Fraunces', sans-serif;
    cursor: pointer;
    background-color:hsl(200,100%,81%);
    border-radius: 30px;
}

#collapsibleNavbar{
    justify-content: flex-end;
}

