*{
    margin: 0;
}

#background{
    background-image: url(./images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}


#logo{
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
}

#title{
    font-family: 'Fraunces', sans-serif;
    font-size: 60px;
    letter-spacing: 8px;
}

#boutonnav{
    font-family: 'Barlow', sans-serif;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
}

#boutonnav:hover{
    font-family: 'Fraunces', sans-serif;
    cursor: pointer;
    background-color:hsl(200,100%,81%);
    border-radius: 30px;
}

#collapsibleNavbar{
    justify-content: flex-end;
}

.navbar-toggler{
    --bs-navbar-color: hsl(0, 0%, 100%);
    --bs-navbar-hover-color: hsl(0, 0%, 100%);
    --bs-navbar-toggler-border-color: hsl(0, 0%, 100%); 
  }

#titlecontainer{
    margin-bottom: 130px;
}



  @media (min-width: 473px) and (max-width: 768px){
      
    #collapsibleNavbar{
        margin-top: 25px;
        margin-right: 10px;
        padding-left: 10px;
        padding-bottom: 14px;
        padding-top: 10px;
        background-color: hsl(0, 0%, 100%);
    }

    
    #title{
        font-family: 'Fraunces', sans-serif;
        font-size: 40px;
        letter-spacing: 5px;
    }


    #boutonnav{
        font-family: 'Barlow', sans-serif;
        color: hsl(210, 4%, 67%);
        display: flex;
        justify-content: center;
    }
    
    #boutonnav:hover{
        font-family: 'Fraunces', sans-serif;
        cursor: pointer;
        background-color:hsl(51, 100%, 49%);
        border-radius: 30px;
    }
  }


  @media only screen and (max-device-width: 480px){

    #background{
        background-image: url(./images/mobile/image-header.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
    }
    
    #title{
        font-family: 'Fraunces', sans-serif;
        font-size: 20px;
        letter-spacing: 3px;
    }
   
    #collapsibleNavbar{
        margin-top: 25px;
        margin-right: 10px;
        padding-left: 10px;
        padding-bottom: 14px;
        padding-top: 10px;
        background-color: hsl(0, 0%, 100%);
    }

    #boutonnav{
        font-family: 'Barlow', sans-serif;
        color: hsl(210, 4%, 67%);
        display: flex;
        justify-content: center;
    }
    
    #boutonnav:hover{
        font-family: 'Fraunces', sans-serif;
        cursor: pointer;
        background-color:hsl(51, 100%, 49%);
        border-radius: 30px;
    }
  }
